.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #0c0c0c;
}

.nav-logo {
  display: flex;
  padding: 10px;
  align-items: center;
}

.nav-logo-link {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
  color: whitesmoke;
  margin-left: 10px;
}

.nav-logo-item {
  font-size: 30px;
  color: whitesmoke;
}

.nav-login {
  text-decoration: none;
  font-size: 20px;
  list-style: none;
  color: whitesmoke;
  margin: 0 5px;
}

.nav-register {
  text-decoration: none;
  font-size: 20px;
  list-style: none;
  color: whitesmoke;
  margin: 0 20px;
}
