/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: none;
} */

/* h1,
h2,
p {
  opacity: 0.8;
} */

/* FIX for other css conflict */
.register-desc-text {
  font-size: 15px;
}

.register-input-text,
.register-privacy-right,
.register-button-text,
.register-login-left {
  margin: 0;
}
/* FIX for other css conflict */

.register {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: rgb(234, 244, 248);
  height: 720px;
}

.register-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  width: 80vw;
  height: 620px;
  border-radius: 20px;
  margin-top: 50px;
  background-color: rgb(210, 231, 240);
  overflow: hidden;
}

.register-side {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 50px 80px;

  background-color: white;
}

.register-icon {
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

.register-icon-text {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0.8;
}

.register-desc {
  margin-top: 40px;
}

.register-desc-h1 {
  font-size: 1.8rem;
}

.reg-desc-text {
  margin: 12px 0 20px 0;
  font-size: 0.9rem;
}

.register-input {
  display: flex;
  margin-top: 10px;
}

.register-input-form {
  display: flex;
  flex-direction: column;
}

.register-input-text {
  font-size: 0.9rem;
}

.register-input-bar {
  margin: 5px 0 20px 0;
  height: 30px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 13px;
}

.register-privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  /* cursor: pointer; */
  margin-top: 5px;
}

.register-privacy-right {
  width: 90%;
  font-size: 0.8rem;
}

.register-privacy-left {
  cursor: pointer;
}

.register-button {
  margin: 25px 0 20px 0;
  background-color: rgb(163, 218, 240);
  width: 90%;
  height: 45px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

.register-button:hover {
  background-color: rgb(99, 200, 240);
}

.register-button-text {
  font-size: 1rem;
  color: white;
  opacity: 1;
}

.register-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.register-login-left {
  margin-right: 5px;
  font-size: 0.8rem;
}

.register-login-right {
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 500;
  opacity: 0.9;
}

.register-login-right:hover {
  opacity: 1;
}

.content-side {
  width: 55%;
  height: 720px;
  /* background-color: rgb(151, 76, 221); */
  background-color: rgb(208, 233, 243);
}

.message-email {
  position: absolute;
  top: 433px;
  /* background-color: rgba(150, 146, 146, 0.326); */
  z-index: 12;
  color: rgb(251, 67, 67);
  font-size: 0.7rem;
  padding-left: 250px;
}

.message-pass {
  position: absolute;
  top: 525px;
  /* background-color: rgba(150, 146, 146, 0.326); */
  z-index: 12;
  color: rgb(251, 67, 67);
  font-size: 0.7rem;
  padding-left: 201px;
  margin: 0;
}
