.all-container {
  background-color: black;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  position: relative;
  z-index: 200;
}

.word-container {
  height: 60px;
  color: rgba(255, 255, 255, 0.822);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}
