@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: rgb(234, 244, 248);
}
.UserProfile {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
  text-align: center;
}


h1,
h2,
p {
  opacity: 0.8;
}

.user-profile {
  font-size : 40px ;
  margin-bottom: 20px;
  text-align: left;
}
.profile {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  opacity: 2;
  font-variant: inherit;
  margin-top: 30px;
  
}
.email {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  opacity: 2;
  font-variant: inherit;
  margin-top: 30px;
}

.reg-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-end;
  width: 80vw;
  height: 1200px;
  border-radius: 50px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  overflow: -moz-hidden-unscrollable;
}


.gender {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  opacity: 2;
  font-variant: inherit;
  margin-top: 30px;
}

.Address {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  opacity: 2;
  font-variant: inherit;
  margin-top: 30px;
}

.age {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  opacity: 2;
  font-variant: inherit;
  margin-top: 30px;
}

.right-profile {
  font-size: 1.3rem;
}








.info  {
  margin-top: 50px;
  font-size : 50px ;
}
.reg-desc-text {
  font-size : 20px ;
  margin-bottom: 0px;
}
.reg-button {
  font-size : 20px ;
  margin-bottom: 0px;
}
.reg-button:hover {
  background-color: rgb(255, 10, 10);
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

