@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: rgb(234, 244, 248);
}

.card {
    margin: 10px;
}

/* .wrapper {
    width: 100%;
    padding: 20px;
}
.reg-container {
    width: 55%;
    margin: 10px;
    position: relative;
}

.parent {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 10%;
    flex: 0 0 50%;
    position: relative;
}

.col-2 {
    width: 20%;
    flex: 0 0 50%;
    position: relative;
}

.col-3 {
    width: 30%;
    flex: 0 0 50%;
    position: relative;
}

.col-4 {
    width: 40%;
    flex: 0 0 50%;
    position: relative;
}

.col-5 {
    width: 50%;
    flex: 0 0 50%;
    position: relative;
}

.col-10 {
    width: 100%;
    flex: 0 0 50%;
    position: relative;
} */
